rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{email} {
      allow read: if request.auth != null && request.auth.token.email == email;
      allow create: if request.auth != null && request.auth.token.email == email && request.resource.data.approved == false;
      allow update: if request.auth != null && request.auth.token.email == email && request.resource.data.approved == resource.data.approved;
    }
    match /routers/{routerId} {
      allow read, write: if request.auth != null;
    }
  }
}
